<ActionBar title="User Login" class="action-bar"></ActionBar>
<!-- <StackLayout id="stlay"> -->
  <StackLayout #loginform class="form" margin="10" verticalAlignment="center">
    <StackLayout padding="15" backgroundColor="#FFFFFF">
        <StackLayout class="input-field">
            <Label text="Email" class="label font-weight-bold m-b-5"></Label>
            <TextField #emailf="ngModel" class="input" [(ngModel)]="email" required></TextField>
            <StackLayout class="hr-light"></StackLayout>
            <StackLayout *ngIf="emailf.errors && (emailf.dirty || emailf.touched)">
                <Label style="color:red;" *ngIf="emailf.errors.required" text="- An email is required -"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout class="input-field">
            <Label text="Password" class="label font-weight-bold m-b-5"></Label>
            <TextField #passwordf="ngModel" secure="true" class="input" [(ngModel)]="password" required></TextField>
            <StackLayout class="hr-light"></StackLayout>
            <StackLayout *ngIf="passwordf.errors && (passwordf.dirty || passwordf.touched)">
                <Label style="color:red;" *ngIf="passwordf.errors.required" text="- A password is required -"></Label>
            </StackLayout>
        </StackLayout>
        <Button [isUserInteractionEnabled]="emailf.valid && passwordf.valid" class="btn btn-primary w-full btn_primo" text="Login" (tap)="login()"></Button>
        <Button class="btn btn-primary w-full btn_primo_fb fa" (tap)="loginWithFacebook()">
            <Span class="fa" [text]="'fa-facebook' | fonticon"></Span> &nbsp;&nbsp;
            <Span text = " acebook Login"></Span>
        </Button>
        
        <Label [nsRouterLink]="['/player-register']" text="Not a member? Register here." class="text-center footnote"></Label>
    </StackLayout>
<!-- </StackLayout> -->
</StackLayout>
